{
  "openapi": "3.1.0",
  "info": {
    "title": "openrouter · servicio",
    "version": "0.8.0",
    "summary": "Pasarela propia sobre OpenRouter y el router de Hugging Face, pensada para ser llamada por otras aplicaciones.",
    "description": "Esto no es una aplicación con interfaz: es un conjunto de servicios HTTP. La clave de OpenRouter vive solo en el backend y nunca sale de él. Cada aplicación consumidora tiene su propia clave, que se da de alta y se revoca sin tocar el despliegue.\n\nEl contrato sigue el de la API de OpenAI donde existe equivalente, así que cualquier cliente de OpenAI funciona cambiando la URL base. Lo propio del servicio va en rutas propias y en cabeceras `X-...`. Una ruta publicada no se rompe: lo incompatible iría a `/v2/`.\n\nLa versión de este documento acompaña a la etapa entregada: `0.6.0` es la etapa 6; `0.6.2` amplía `/v1/models` con descripción, precios completos, modalidades de salida y parámetros, sin cambiar nada de lo publicado; `0.6.4` entrega la etapa 9 (catálogo completo de OpenRouter y compra en el router de Hugging Face con el prefijo `hf:`), también sin cambiar nada: solo añade campos, parámetros y códigos. Las etapas 7 y 8 siguen pendientes.",
    "license": {
      "name": "Uso interno"
    }
  },
  "servers": [
    {
      "url": "https://apisor.oracle402.com",
      "description": "Producción (VPS)"
    },
    {
      "url": "https://openrouter-npiobject-labs.fly.dev",
      "description": "Previsualización de main (Fly.io)"
    },
    {
      "url": "http://localhost:8080",
      "description": "En el PC, con tools/arrancar.ps1"
    }
  ],
  "security": [
    {
      "claveDeServicio": []
    }
  ],
  "tags": [
    {
      "name": "Servicio",
      "description": "Estado del proceso y del servicio. No gastan crédito."
    },
    {
      "name": "Modelos",
      "description": "Catálogo de modelos disponibles, con precio y capacidades."
    },
    {
      "name": "Consultas",
      "description": "Lanzar una consulta a un modelo."
    },
    {
      "name": "Uso",
      "description": "Qué consumió cada llamada: tokens, coste, latencia y proveedor."
    },
    {
      "name": "Aplicaciones",
      "description": "Alta, baja y listado de las aplicaciones que pueden llamar al servicio. Solo con la clave de administración."
    },
    {
      "name": "Presupuestos",
      "description": "Topes de gasto y de ritmo por aplicación, y cuánto margen queda."
    },
    {
      "name": "Vídeo",
      "description": "Generar y editar vídeo (asíncrono)."
    }
  ],
  "paths": {
    "/salud": {
      "get": {
        "tags": [
          "Servicio"
        ],
        "summary": "Salud del proceso",
        "description": "Dice si el proceso está en pie, con qué build y si tiene configuradas las claves: la de servicio, la de OpenRouter y, en `upstreams`, cada upstream al que puede comprar. No llama a OpenRouter. Es la ruta que usan las comprobaciones automáticas y la única, junto a `/holamundo`, que no exige clave.",
        "security": [],
        "responses": {
          "200": {
            "description": "El servicio responde.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Salud"
                },
                "example": {
                  "ok": true,
                  "build": "87e6a89",
                  "openrouter": true,
                  "clave_servicio": true,
                  "upstreams": {
                    "openrouter": true,
                    "hf": false
                  }
                }
              }
            }
          }
        }
      }
    },
    "/holamundo": {
      "get": {
        "tags": [
          "Servicio"
        ],
        "summary": "Prueba de vida",
        "description": "Devuelve `holamundo` en texto plano. Existe para comprobar desde el navegador que el backend contesta y que el CORS funciona.",
        "security": [],
        "responses": {
          "200": {
            "description": "Texto plano.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "holamundo"
              }
            }
          }
        }
      }
    },
    "/v1/estado": {
      "get": {
        "tags": [
          "Servicio"
        ],
        "summary": "Estado del servicio y de la clave",
        "description": "Comprueba de verdad que el backend habla con OpenRouter, y devuelve la etiqueta de la clave, su uso y su límite tal como los da el proveedor. No gasta crédito, así que sirve para vigilancia periódica.",
        "responses": {
          "200": {
            "description": "Conexión confirmada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Estado"
                },
                "example": {
                  "ok": true,
                  "build": "87e6a89",
                  "modelo_defecto": "openai/gpt-oss-120b",
                  "modelo_multimodal": "google/gemini-3.1-flash-lite",
                  "clave": {
                    "label": "openrouter",
                    "usage": 0.0123,
                    "limit": 5,
                    "is_free_tier": false
                  },
                  "almacen": "sqlite",
                  "registros": 128,
                  "identidad": {
                    "nombre": "presupuestos",
                    "app_id": "app_27b1d11e45",
                    "administracion": false
                  },
                  "upstreams": {
                    "openrouter": true,
                    "hf": true
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/NoAutorizado"
          },
          "503": {
            "$ref": "#/components/responses/SinConfigurar"
          }
        }
      }
    },
    "/v1/models": {
      "get": {
        "tags": [
          "Modelos"
        ],
        "summary": "Catálogo de modelos",
        "description": "El catálogo del upstream elegido con el formato de la API de OpenAI, más los campos que hacen falta para elegir: precio en dólares por millón de tokens, ventana de contexto, modalidades de entrada y de salida, si admite herramientas o salida estructurada y, desde 0.6.2, la descripción del proveedor, los precios completos (imagen, petición, caché, audio) y la lista de parámetros.\n\nDesde 0.6.4 el catálogo de OpenRouter es el completo (`output_modalities=all`): además de los modelos que escriben texto trae los de imagen, vídeo, voz, transcripción y embeddings, que antes quedaban ocultos. Cada modelo dice su `upstream` y conserva `canonical_slug` y `hugging_face_id`. Con `salida=<modalidad>` se pide solo lo que interesa; sin él, todo.\n\nCon `upstream=hf` se devuelve el catálogo del router de Hugging Face normalizado a la misma forma: una entrada `hf:<id>` por modelo, con el precio del host más barato, y una `hf:<id>:<host>` por cada host que lo sirve con su precio, contexto, latencia hasta el primer token y tokens por segundo. Todos los ids se mandan tal cual en `model`. Sin `upstream`, el de OpenRouter, como siempre.\n\nCada catálogo se cachea una hora en memoria. Si el upstream no responde y hay copia caducada, se sirve la caducada antes que un error: para elegir modelo, una lista de ayer es mejor que nada. La cabecera `X-Cache` dice de dónde salió.",
        "parameters": [
          {
            "name": "texto",
            "in": "query",
            "description": "Filtra por texto en el identificador o el nombre.",
            "schema": {
              "type": "string"
            },
            "example": "gemini"
          },
          {
            "name": "proveedor",
            "in": "query",
            "description": "Filtra por proveedor, que es el tramo anterior a la barra del identificador.",
            "schema": {
              "type": "string"
            },
            "example": "anthropic"
          },
          {
            "name": "contexto_min",
            "in": "query",
            "description": "Descarta los modelos con menos contexto que este número de tokens.",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "example": 200000
          },
          {
            "name": "gratis",
            "in": "query",
            "description": "Con `1`, `true` o `si`, solo modelos de precio cero. Cualquier otro valor no filtra.",
            "schema": {
              "type": "string"
            },
            "example": "1"
          },
          {
            "name": "refrescar",
            "in": "query",
            "description": "Con `1`, `true` o `si`, ignora la caché y vuelve a pedir el catálogo.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "salida",
            "in": "query",
            "description": "Solo los modelos que producen esa modalidad: `text`, `image`, `video`, `speech`, `transcription` o `embeddings`. Sin él, todas.",
            "schema": {
              "type": "string",
              "enum": [
                "text",
                "image",
                "video",
                "speech",
                "transcription",
                "embeddings"
              ]
            },
            "example": "image"
          },
          {
            "name": "upstream",
            "in": "query",
            "description": "De quién es el catálogo: `openrouter` (por defecto), `hf` (router de Hugging Face) o `rq` (Requesty). Sin la clave de ese upstream en el despliegue, `503 upstream_sin_configurar`. Un valor desconocido es `400 upstream_desconocido`.",
            "schema": {
              "type": "string",
              "enum": [
                "openrouter",
                "hf",
                "rq"
              ],
              "default": "openrouter"
            },
            "example": "hf"
          },
          {
            "name": "region",
            "in": "query",
            "description": "Solo los modelos que publican que procesan en esa región (`eu`, `us`, `global`, `uk`, `sg`, `ap`). Hoy solo Requesty lo publica: en los demás upstreams no queda ninguno.",
            "schema": {
              "type": "string"
            },
            "example": "eu"
          },
          {
            "name": "sin_retencion",
            "in": "query",
            "description": "`1`: solo los que publican que ni guardan las peticiones ni entrenan con ellas (`retencion: false` y `entrena: false`). Hoy solo Requesty lo publica.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de modelos. `total` es el catálogo entero, antes de aplicar filtros.",
            "headers": {
              "X-Cache": {
                "description": "`miss` recién traído de OpenRouter, `hit` de la caché vigente, `stale` copia caducada porque OpenRouter no respondió.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "miss",
                    "hit",
                    "stale"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListaDeModelos"
                },
                "example": {
                  "object": "list",
                  "data": [
                    {
                      "id": "google/gemini-2.5-flash-lite",
                      "object": "model",
                      "created": 1752000000,
                      "owned_by": "google",
                      "nombre": "Google: Gemini 2.5 Flash Lite",
                      "contexto": 1048576,
                      "entrada": 0.1,
                      "salida": 0.4,
                      "gratis": false,
                      "herramientas": true,
                      "json": true,
                      "modalidades": [
                        "text",
                        "image"
                      ],
                      "descripcion": "Gemini 2.5 Flash Lite es la variante más rápida y barata de la familia Flash.",
                      "precios": {
                        "imagen": 0,
                        "peticion": 0,
                        "cache_lectura": 0.025,
                        "cache_escritura": 0,
                        "audio": 0,
                        "razonamiento": 0,
                        "busqueda_web": 0,
                        "imagen_salida": 0
                      },
                      "modalidades_salida": [
                        "text"
                      ],
                      "parametros": [
                        "tools",
                        "structured_outputs",
                        "temperature",
                        "max_tokens"
                      ],
                      "max_salida": 65535,
                      "moderado": false,
                      "upstream": "openrouter",
                      "canonical_slug": "google/gemini-2.5-flash-lite-20250617",
                      "hugging_face_id": null,
                      "primer_token_ms": null,
                      "tokens_por_segundo": null
                    },
                    {
                      "id": "hf:openai/gpt-oss-120b:groq",
                      "object": "model",
                      "created": 1754346786,
                      "owned_by": "openai",
                      "nombre": "openai/gpt-oss-120b · groq",
                      "contexto": 131072,
                      "entrada": 0.15,
                      "salida": 0.75,
                      "gratis": false,
                      "herramientas": true,
                      "json": true,
                      "modalidades": [
                        "text"
                      ],
                      "descripcion": "",
                      "precios": {
                        "imagen": 0,
                        "peticion": 0,
                        "cache_lectura": 0,
                        "cache_escritura": 0,
                        "audio": 0,
                        "razonamiento": 0,
                        "busqueda_web": 0,
                        "imagen_salida": 0
                      },
                      "modalidades_salida": [
                        "text"
                      ],
                      "parametros": [],
                      "max_salida": null,
                      "moderado": false,
                      "upstream": "hf",
                      "canonical_slug": null,
                      "hugging_face_id": "openai/gpt-oss-120b",
                      "primer_token_ms": 228,
                      "tokens_por_segundo": 416.2
                    }
                  ],
                  "total": 649,
                  "antiguedad_minutos": 12,
                  "upstream": "openrouter"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/PeticionInvalida"
          },
          "401": {
            "$ref": "#/components/responses/NoAutorizado"
          },
          "502": {
            "$ref": "#/components/responses/FalloDeProveedor"
          },
          "503": {
            "$ref": "#/components/responses/SinConfigurar"
          }
        }
      }
    },
    "/v1/chat/completions": {
      "post": {
        "tags": [
          "Consultas"
        ],
        "summary": "Consulta a un modelo",
        "description": "Proxy fino sobre OpenRouter, y desde 0.6.4 también sobre el router de Hugging Face, con el contrato de OpenAI. A quién va lo decide el prefijo de `model`: `hf:<id>` sale hacia Hugging Face sin el prefijo (`hf:meta-llama/Llama-3.3-70B-Instruct:groq` pide `meta-llama/Llama-3.3-70B-Instruct:groq`, donde `:groq` es el host; `:cheapest` y `:fastest` dejan que elija el router); todo lo demás va a OpenRouter exactamente como siempre. Sin `HF_TOKEN` en el despliegue, `hf:` responde `503 upstream_sin_configurar`.\n\nEl cuerpo se reenvía tal cual salvo tres retoques: el prefijo, si no traes `model` se rellena con el modelo por defecto del servicio (`modelo_defecto` de `/v1/estado`), o con el multimodal (`modelo_multimodal`) si algún mensaje lleva una parte que no es texto; con el de texto, y si no mandas `reasoning`, se añade `{\"effort\":\"low\"}` para que el razonamiento no se coma el `max_tokens`; y `stream: true` se rechaza con `400` porque el streaming llega en la etapa 7.\n\nLa respuesta es la del upstream sin tocar, incluido el bloque `usage`, que es lo que permite saber qué costó la llamada. En Hugging Face el coste queda `estimado` con los precios de su catálogo (los del host pedido, o los del más barato si no se pidió ninguno) y no se reconcilia: el router no tiene `/generation`.\n\nToda llamada que llega a salir queda anotada en el registro de uso, vaya bien o mal, y su identificador vuelve en la cabecera `X-Uso-Id`. Con él se consulta después lo que costó, en `/v1/uso/{id}`.\n\nVaya a un upstream o a otro, con clave de aplicación la llamada pasa antes por los mismos tres controles: el cortacircuitos de bucles, la cuota por minuto y el presupuesto. La clave de administración no tiene ninguno.\n\nDesde 0.7.0 `model` admite también `rq:<id de Requesty>` (`rq:vertex/gemini-3.1-flash-lite@eu`), con el coste real que da Requesty en `usage.cost`. Y si OpenRouter no está (sin conexión, tiempo agotado, 5xx, 429 o 402), la consulta se repite automáticamente con el mismo modelo en Hugging Face y, si no, en Requesty (la variante de la UE que no retiene datos, la más barata). La respuesta dice quién contestó en `X-Upstream` y que hubo respaldo en `X-Respaldo`. Cada intento queda en el registro de uso. Para que una consulta nunca salga de OpenRouter, manda `X-Respaldo: no`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Consulta"
              },
              "example": {
                "model": "google/gemini-2.5-flash-lite",
                "messages": [
                  {
                    "role": "user",
                    "content": "Resume en una línea qué es OpenRouter."
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respuesta del modelo, con el formato de OpenAI.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                },
                "example": {
                  "id": "gen-1757000000-abc",
                  "model": "google/gemini-2.5-flash-lite",
                  "object": "chat.completion",
                  "choices": [
                    {
                      "index": 0,
                      "finish_reason": "stop",
                      "message": {
                        "role": "assistant",
                        "content": "Una pasarela que da acceso a modelos de muchos proveedores con una sola clave."
                      }
                    }
                  ],
                  "usage": {
                    "prompt_tokens": 14,
                    "completion_tokens": 21,
                    "total_tokens": 35
                  }
                }
              }
            },
            "headers": {
              "X-Uso-Id": {
                "description": "Identificador del registro de uso de esta llamada. También viaja en las respuestas de error, cuando el fallo ocurrió tras salir hacia OpenRouter.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Presupuesto": {
                "description": "Aparece cuando el gasto del periodo ha pasado el umbral de aviso. No corta la llamada: es para que la aplicación sepa que se acerca al tope.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Upstream": {
                "description": "Quién respondió: `openrouter`, `hf` o `rq`.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "openrouter",
                    "hf",
                    "rq"
                  ]
                }
              },
              "X-Respaldo": {
                "description": "Solo si OpenRouter falló (sin conexión, tiempo agotado, 5xx, 429 o 402) y la consulta se repitió con el mismo modelo en otro upstream: el upstream que falló. En la petición, `X-Respaldo: no` apaga el respaldo para esa consulta.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/PeticionInvalida"
          },
          "401": {
            "$ref": "#/components/responses/NoAutorizado"
          },
          "402": {
            "description": "Presupuesto agotado, o crédito insuficiente en OpenRouter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "ok": false,
                  "error": {
                    "message": "Esta aplicación lleva 5.10 $ gastados y su presupuesto por mes es de 5.00 $.",
                    "code": "presupuesto_agotado",
                    "type": "insufficient_quota"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NoEncontrado"
          },
          "429": {
            "description": "Cuota por minuto superada, o la misma consulta repetida demasiadas veces seguidas.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "ok": false,
                  "error": {
                    "message": "La misma consulta se ha repetido 5 veces en 60 segundos. Parece un bucle, así que se corta para no gastar crédito.",
                    "code": "bucle",
                    "type": "rate_limit_error"
                  }
                }
              }
            }
          },
          "502": {
            "$ref": "#/components/responses/FalloDeProveedor"
          },
          "503": {
            "$ref": "#/components/responses/SinConfigurar"
          }
        },
        "parameters": [
          {
            "name": "X-Operacion",
            "in": "header",
            "required": false,
            "description": "Identificador del trabajo de negocio al que pertenece la llamada, por ejemplo el número de presupuesto. Se guarda en el registro para agrupar después varias llamadas del mismo trabajo. Hasta 120 caracteres.",
            "schema": {
              "type": "string"
            },
            "example": "presupuesto-2026-041"
          }
        ]
      }
    },
    "/v1/uso": {
      "get": {
        "tags": [
          "Uso"
        ],
        "summary": "Últimas llamadas",
        "description": "El registro de las últimas llamadas, de la más reciente a la más antigua.\n\nDesde la etapa 4 salen del histórico en disco, así que sobreviven a un reinicio. Para ventanas de tiempo y totales, `/v1/uso/resumen`; para llevarse los datos, `/v1/uso/exportar`.\n\nCon clave de aplicación solo salen sus propias llamadas; `total` sigue siendo el del servicio.",
        "parameters": [
          {
            "name": "n",
            "in": "query",
            "description": "Cuántas devolver. Entre 1 y 1000; por defecto 50.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 50
            },
            "example": 10
          },
          {
            "name": "app",
            "in": "query",
            "description": "Con clave de administración, limita a esa aplicación. Con clave de aplicación se ignora: cada una ve solo lo suyo.",
            "schema": {
              "type": "string"
            },
            "example": "app_27b1d11e45"
          },
          {
            "name": "operacion",
            "in": "query",
            "description": "Solo las llamadas que llevaron ese valor en la cabecera `X-Operacion`: el trabajo de negocio (un presupuesto, un análisis) al que pertenecen.",
            "schema": {
              "type": "string"
            },
            "example": "presupuesto-2026-0417"
          },
          {
            "name": "upstream",
            "in": "query",
            "description": "Solo lo comprado en ese upstream: `openrouter` o `hf`. Un valor desconocido es `400 upstream_desconocido`.",
            "schema": {
              "type": "string",
              "enum": [
                "openrouter",
                "hf"
              ]
            },
            "example": "hf"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de registros. `total` es lo que hay guardado ahora mismo.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Registro"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                },
                "example": {
                  "object": "list",
                  "data": [
                    {
                      "id": "u-1757673600123-7",
                      "fecha": "2026-09-12T10:40:00Z",
                      "modelo_pedido": "google/gemini-2.5-flash-lite",
                      "modelo_servido": "google/gemini-2.5-flash-lite",
                      "proveedor": "Google",
                      "tokens_entrada": 1000,
                      "tokens_salida": 500,
                      "tokens_razonamiento": 0,
                      "tokens_cache": 0,
                      "coste": 0.00042,
                      "coste_origen": "openrouter",
                      "latencia_ms": 1840,
                      "motivo_fin": "stop",
                      "estado": 200,
                      "id_openrouter": "gen-abc"
                    }
                  ],
                  "total": 1
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/PeticionInvalida"
          },
          "401": {
            "$ref": "#/components/responses/NoAutorizado"
          }
        }
      }
    },
    "/v1/uso/{id}": {
      "get": {
        "tags": [
          "Uso"
        ],
        "summary": "Una llamada concreta",
        "description": "El registro que corresponde a un `X-Uso-Id`.\n\nDesde la etapa 4 el histórico está en disco y no caduca.\n\nEl coste llega primero estimado con los precios del catálogo y, un par de segundos después, reconciliado con lo que factura OpenRouter. El campo `coste_origen` dice cuál de los dos estás viendo, así que una aplicación que quiera el dato bueno puede volver a preguntar.\n\nUna aplicación solo puede consultar registros suyos: los de otra responden como si no existieran.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "El identificador devuelto en `X-Uso-Id`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "El registro.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Registro"
                },
                "example": {
                  "id": "u-1757673600123-7",
                  "fecha": "2026-09-12T10:40:00Z",
                  "modelo_pedido": "google/gemini-2.5-flash-lite",
                  "modelo_servido": "google/gemini-2.5-flash-lite",
                  "proveedor": "Google",
                  "tokens_entrada": 1000,
                  "tokens_salida": 500,
                  "tokens_razonamiento": 0,
                  "tokens_cache": 0,
                  "coste": 0.00042,
                  "coste_origen": "openrouter",
                  "latencia_ms": 1840,
                  "motivo_fin": "stop",
                  "estado": 200,
                  "id_openrouter": "gen-abc"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/NoAutorizado"
          },
          "404": {
            "description": "No hay registro con ese id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "ok": false,
                  "error": {
                    "message": "No hay registro de uso con id u-1-2.",
                    "code": "uso_desconocido",
                    "type": "not_found_error"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/uso/resumen": {
      "get": {
        "tags": [
          "Uso"
        ],
        "summary": "Totales por día o por modelo",
        "description": "Cuántas llamadas, cuántas fallaron, cuántos tokens y cuánto coste, agrupado por día o por modelo.\n\nEs la ruta que responde a «cuánto llevo gastado este mes» sin traerse el histórico entero.",
        "parameters": [
          {
            "name": "desde",
            "in": "query",
            "description": "Fecha o instante ISO desde el que contar, inclusive. Vale `2026-09-12` o `2026-09-12T14:00:00Z`.",
            "schema": {
              "type": "string"
            },
            "example": "2026-09-01"
          },
          {
            "name": "hasta",
            "in": "query",
            "description": "Hasta cuándo, inclusive. Una fecha suelta cuenta el día entero.",
            "schema": {
              "type": "string"
            },
            "example": "2026-09-30"
          },
          {
            "name": "agrupar",
            "in": "query",
            "description": "`dia` (por defecto), `modelo`, `app`, `operacion` (el valor de `X-Operacion`; las llamadas sin cabecera van al grupo `(sin operacion)`) o `upstream` (`openrouter` o `hf`).",
            "schema": {
              "type": "string",
              "enum": [
                "dia",
                "modelo",
                "app",
                "operacion",
                "upstream"
              ],
              "default": "dia"
            },
            "example": "modelo"
          },
          {
            "name": "app",
            "in": "query",
            "description": "Con clave de administración, limita a esa aplicación. Con clave de aplicación se ignora: cada una ve solo lo suyo.",
            "schema": {
              "type": "string"
            },
            "example": "app_27b1d11e45"
          },
          {
            "name": "operacion",
            "in": "query",
            "description": "Solo las llamadas que llevaron ese valor en la cabecera `X-Operacion`: el trabajo de negocio (un presupuesto, un análisis) al que pertenecen.",
            "schema": {
              "type": "string"
            },
            "example": "presupuesto-2026-0417"
          },
          {
            "name": "upstream",
            "in": "query",
            "description": "Solo lo comprado en ese upstream: `openrouter` o `hf`. Un valor desconocido es `400 upstream_desconocido`.",
            "schema": {
              "type": "string",
              "enum": [
                "openrouter",
                "hf"
              ]
            },
            "example": "hf"
          }
        ],
        "responses": {
          "200": {
            "description": "Un grupo por día o por modelo, más los totales del intervalo.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "agrupar": {
                      "type": "string",
                      "enum": [
                        "dia",
                        "modelo"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "grupo": {
                            "type": "string",
                            "description": "El día o el modelo."
                          },
                          "llamadas": {
                            "type": "integer"
                          },
                          "fallos": {
                            "type": "integer",
                            "description": "Las que acabaron en 400 o más."
                          },
                          "tokens_entrada": {
                            "type": "integer"
                          },
                          "tokens_salida": {
                            "type": "integer"
                          },
                          "coste": {
                            "type": "number",
                            "description": "Dólares."
                          },
                          "latencia_media_ms": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "totales": {
                      "type": "object",
                      "description": "La suma de todos los grupos."
                    }
                  }
                },
                "example": {
                  "object": "list",
                  "agrupar": "modelo",
                  "data": [
                    {
                      "grupo": "google/gemini-2.5-flash-lite",
                      "llamadas": 12,
                      "fallos": 1,
                      "tokens_entrada": 9000,
                      "tokens_salida": 4200,
                      "coste": 0.0063,
                      "latencia_media_ms": 1520
                    }
                  ],
                  "totales": {
                    "llamadas": 12,
                    "fallos": 1,
                    "tokens_entrada": 9000,
                    "tokens_salida": 4200,
                    "coste": 0.0063
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/PeticionInvalida"
          },
          "401": {
            "$ref": "#/components/responses/NoAutorizado"
          }
        }
      }
    },
    "/v1/uso/exportar": {
      "get": {
        "tags": [
          "Uso"
        ],
        "summary": "Exportar el histórico",
        "description": "El histórico de un intervalo, en JSON o en CSV.\n\nEl CSV llega con `Content-Disposition`, así que un navegador lo guarda como fichero. Ojo: la ruta exige la clave en la cabecera, de modo que un enlace suelto no sirve; hay que traerlo con una petición y guardarlo desde ahí. Desde 0.6.4 el CSV lleva una columna más al final, `upstream`; las anteriores no cambian de sitio.",
        "parameters": [
          {
            "name": "desde",
            "in": "query",
            "description": "Fecha o instante ISO desde el que contar, inclusive. Vale `2026-09-12` o `2026-09-12T14:00:00Z`.",
            "schema": {
              "type": "string"
            },
            "example": "2026-09-01"
          },
          {
            "name": "hasta",
            "in": "query",
            "description": "Hasta cuándo, inclusive. Una fecha suelta cuenta el día entero.",
            "schema": {
              "type": "string"
            },
            "example": "2026-09-30"
          },
          {
            "name": "formato",
            "in": "query",
            "description": "`json` (por defecto) o `csv`.",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv"
              ],
              "default": "json"
            },
            "example": "csv"
          },
          {
            "name": "app",
            "in": "query",
            "description": "Con clave de administración, limita a esa aplicación. Con clave de aplicación se ignora: cada una ve solo lo suyo.",
            "schema": {
              "type": "string"
            },
            "example": "app_27b1d11e45"
          },
          {
            "name": "operacion",
            "in": "query",
            "description": "Solo las llamadas que llevaron ese valor en la cabecera `X-Operacion`: el trabajo de negocio (un presupuesto, un análisis) al que pertenecen.",
            "schema": {
              "type": "string"
            },
            "example": "presupuesto-2026-0417"
          },
          {
            "name": "upstream",
            "in": "query",
            "description": "Solo lo comprado en ese upstream: `openrouter` o `hf`. Un valor desconocido es `400 upstream_desconocido`.",
            "schema": {
              "type": "string",
              "enum": [
                "openrouter",
                "hf"
              ]
            },
            "example": "hf"
          }
        ],
        "responses": {
          "200": {
            "description": "Los registros del intervalo, de la más antigua a la más reciente.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Registro"
                      }
                    }
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Formato desconocido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "ok": false,
                  "error": {
                    "message": "Formato xml desconocido: usa csv o json.",
                    "code": "formato_invalido",
                    "type": "invalid_request_error"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/NoAutorizado"
          }
        }
      }
    },
    "/v1/apps": {
      "post": {
        "tags": [
          "Aplicaciones"
        ],
        "summary": "Dar de alta una aplicación",
        "description": "Crea una aplicación y devuelve su clave.\n\nLa clave se enseña **una sola vez**: el servicio guarda solo su hash, así que no hay forma de recuperarla. Si se pierde, se da de baja esa aplicación y se crea otra.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "nombre"
                ],
                "properties": {
                  "nombre": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "nombre": "presupuestos"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Creada. Guarda la clave ahora.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "app": {
                      "$ref": "#/components/schemas/App"
                    },
                    "clave": {
                      "type": "string"
                    },
                    "aviso": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "app": {
                    "id": "app_27b1d11e45",
                    "nombre": "presupuestos",
                    "activa": true,
                    "creada": "2026-09-13T07:29:01Z"
                  },
                  "clave": "svc_88045e377b78d526325411e618db18f1510eed4705bc2040",
                  "aviso": "Guarda la clave ahora: no se puede volver a consultar."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/PeticionInvalida"
          },
          "401": {
            "$ref": "#/components/responses/NoAutorizado"
          },
          "403": {
            "$ref": "#/components/responses/SinPermiso"
          }
        }
      },
      "get": {
        "tags": [
          "Aplicaciones"
        ],
        "summary": "Listar aplicaciones",
        "description": "Las aplicaciones dadas de alta, con clave activa o no. Nunca devuelve claves.",
        "responses": {
          "200": {
            "description": "Lista de aplicaciones.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/App"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                },
                "example": {
                  "object": "list",
                  "data": [
                    {
                      "id": "app_27b1d11e45",
                      "nombre": "presupuestos",
                      "activa": true,
                      "creada": "2026-09-13T07:29:01Z"
                    }
                  ],
                  "total": 1
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/NoAutorizado"
          },
          "403": {
            "$ref": "#/components/responses/SinPermiso"
          }
        }
      }
    },
    "/v1/apps/{id}": {
      "delete": {
        "tags": [
          "Aplicaciones"
        ],
        "summary": "Dar de baja una aplicación",
        "description": "Su clave deja de funcionar al momento.\n\nLa aplicación no se borra: el histórico de uso la sigue referenciando, y un informe del mes pasado tiene que poder decir quién gastó.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "app_27b1d11e45"
          }
        ],
        "responses": {
          "200": {
            "description": "Desactivada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "string"
                    },
                    "activa": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "id": "app_27b1d11e45",
                  "activa": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/NoAutorizado"
          },
          "403": {
            "$ref": "#/components/responses/SinPermiso"
          },
          "404": {
            "description": "No hay ninguna aplicación con ese id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "ok": false,
                  "error": {
                    "message": "No hay ninguna aplicación con id app_1.",
                    "code": "app_desconocida",
                    "type": "not_found_error"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/presupuesto": {
      "get": {
        "tags": [
          "Presupuestos"
        ],
        "summary": "Cuánto margen queda",
        "description": "Lo gastado en el periodo en curso y lo que queda, para que una aplicación decida antes de gastar.\n\nCon clave de aplicación devuelve el suyo. Con la de administración hace falta `?app=`, porque la administración no tiene límites.",
        "parameters": [
          {
            "name": "app",
            "in": "query",
            "description": "Solo con clave de administración: de qué aplicación.",
            "schema": {
              "type": "string"
            },
            "example": "app_27b1d11e45"
          }
        ],
        "responses": {
          "200": {
            "description": "El margen de la aplicación, o el aviso de que la administración no tiene topes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Margen"
                },
                "example": {
                  "app_id": "app_27b1d11e45",
                  "nombre": "presupuestos",
                  "periodo": "mes",
                  "desde": "2026-09",
                  "limite": 5.0,
                  "aviso": 4.0,
                  "cuota_minuto": 60,
                  "consumido": 0.42,
                  "restante": 4.58,
                  "en_aviso": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/NoAutorizado"
          }
        }
      }
    },
    "/v1/apps/{id}/presupuesto": {
      "put": {
        "tags": [
          "Presupuestos"
        ],
        "summary": "Fijar los topes de una aplicación",
        "description": "Reemplaza los topes: lo que no venga en el cuerpo se borra, para que quitar un límite sea tan fácil como ponerlo.\n\nUn presupuesto sin periodo no se puede aplicar, así que `limite` exige `periodo`. El `aviso` no corta: añade la cabecera `X-Presupuesto` a las respuestas.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "app_27b1d11e45"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "periodo": {
                    "type": "string",
                    "enum": [
                      "dia",
                      "mes"
                    ]
                  },
                  "limite": {
                    "type": "number"
                  },
                  "aviso": {
                    "type": "number"
                  },
                  "cuota_minuto": {
                    "type": "integer"
                  }
                }
              },
              "example": {
                "periodo": "mes",
                "limite": 5,
                "aviso": 4,
                "cuota_minuto": 60
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Topes guardados, con el margen recalculado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Margen"
                },
                "example": {
                  "app_id": "app_27b1d11e45",
                  "nombre": "presupuestos",
                  "periodo": "mes",
                  "desde": "2026-09",
                  "limite": 5.0,
                  "aviso": 4.0,
                  "cuota_minuto": 60,
                  "consumido": 0.42,
                  "restante": 4.58,
                  "en_aviso": false
                }
              }
            }
          },
          "400": {
            "description": "Periodo inválido, o presupuesto sin periodo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "ok": false,
                  "error": {
                    "message": "Un presupuesto sin periodo no se puede aplicar: manda también \"periodo\".",
                    "code": "periodo_invalido",
                    "type": "invalid_request_error"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/NoAutorizado"
          },
          "403": {
            "$ref": "#/components/responses/SinPermiso"
          },
          "404": {
            "description": "No hay ninguna aplicación con ese id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/videos/models": {
      "get": {
        "tags": [
          "Vídeo"
        ],
        "summary": "Catálogo de vídeo",
        "operationId": "listarModelosDeVideo",
        "description": "Los modelos de vídeo de OpenRouter y de Higgsfield en un solo formato. Los de Higgsfield solo salen si el despliegue tiene `HIGGSFIELD_API_KEY`. No gasta crédito. Caché de una hora por proveedor.",
        "parameters": [
          {
            "name": "upstream",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "openrouter",
                "higgsfield",
                "todos"
              ],
              "default": "todos"
            }
          },
          {
            "name": "tarea",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "texto_a_video",
                "imagen_a_video",
                "video_a_video",
                "alargar",
                "ampliar",
                "avatar"
              ]
            }
          },
          {
            "name": "texto",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_precio_segundo",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "example": 0.1
          }
        ],
        "responses": {
          "200": {
            "description": "`upstreams` dice cuántos modelos trae cada proveedor (`null` si no tiene clave).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ModeloVideo"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "upstreams": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/PeticionInvalida"
          },
          "401": {
            "$ref": "#/components/responses/NoAutorizado"
          },
          "502": {
            "$ref": "#/components/responses/FalloDeProveedor"
          },
          "503": {
            "$ref": "#/components/responses/SinConfigurar"
          }
        }
      }
    },
    "/v1/videos": {
      "post": {
        "tags": [
          "Vídeo"
        ],
        "summary": "Generar o editar un vídeo",
        "operationId": "crearVideo",
        "description": "Encola un vídeo y responde `202` al momento con el trabajo; se consulta después en `GET /v1/videos/{id}`. El cuerpo es el del proveedor más `model`: en OpenRouter, `prompt`, `duration`, `resolution`, `aspect_ratio`, `generate_audio`, `frame_images`, `input_references`...; en Higgsfield, el del modelo elegido (`prompt`, `image_url`, `video_url`...).\n\nAntes de encolar se estima el coste y, con clave de aplicación, se comprueba que cabe en lo que le queda de presupuesto: si no, `402 presupuesto_insuficiente` sin gastar nada. Lo estimado cuenta en el presupuesto hasta que el vídeo termina; entonces se sustituye por el coste real (o 0 si falló). Pasa también por el cortacircuitos de bucles y la cuota por minuto.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model"
                ],
                "properties": {
                  "model": {
                    "type": "string"
                  }
                },
                "additionalProperties": true
              },
              "example": {
                "model": "google/veo-3.1-fast",
                "prompt": "Un perro corriendo por la playa al atardecer",
                "duration": 4,
                "resolution": "720p",
                "aspect_ratio": "16:9",
                "generate_audio": false
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Encolado.",
            "headers": {
              "X-Uso-Id": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Presupuesto": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrabajoVideo"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/PeticionInvalida"
          },
          "401": {
            "$ref": "#/components/responses/NoAutorizado"
          },
          "402": {
            "$ref": "#/components/responses/SinSaldo"
          },
          "429": {
            "$ref": "#/components/responses/DemasiadasPeticiones"
          },
          "502": {
            "$ref": "#/components/responses/FalloDeProveedor"
          },
          "503": {
            "$ref": "#/components/responses/SinConfigurar"
          }
        }
      }
    },
    "/v1/videos/{id}": {
      "get": {
        "tags": [
          "Vídeo"
        ],
        "summary": "Estado de un vídeo",
        "operationId": "consultarVideo",
        "description": "El trabajo, con su estado. Si no ha terminado se pregunta al proveedor (como mucho cada 3 segundos). Al terminar trae `urls` y el coste definitivo. Un vídeo de otra aplicación responde `404`.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "El trabajo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrabajoVideo"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/NoAutorizado"
          },
          "404": {
            "$ref": "#/components/responses/NoEncontrado"
          }
        }
      }
    },
    "/v1/videos/{id}/contenido": {
      "get": {
        "tags": [
          "Vídeo"
        ],
        "summary": "Descargar un vídeo",
        "operationId": "descargarVideo",
        "description": "El fichero del vídeo terminado. Los de OpenRouter se sirven a través del servicio (su URL pide la clave de OpenRouter, que nunca sale del backend); los de Higgsfield redirigen (`302`) a su URL pública. Si aún no está, `409 video_no_listo`.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "index",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "El vídeo.",
            "content": {
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "302": {
            "description": "Redirección a la URL pública (Higgsfield)."
          },
          "401": {
            "$ref": "#/components/responses/NoAutorizado"
          },
          "404": {
            "$ref": "#/components/responses/NoEncontrado"
          },
          "409": {
            "description": "Aún no está terminado (`video_no_listo`)."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "claveDeServicio": {
        "type": "http",
        "scheme": "bearer",
        "description": "Clave en `Authorization: Bearer <clave>`.\n\nHay dos tipos. La **clave de administración** es la del despliegue y puede con todo, incluidas las rutas de `/v1/apps`. Las **claves de aplicación** se dan de alta en `POST /v1/apps`, se revocan una a una y solo ven su propio gasto.\n\nNunca la pongas en código de navegador: llama desde el backend de tu aplicación. Las cuotas y presupuestos por aplicación llegan en la etapa 6."
      }
    },
    "schemas": {
      "Salud": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "build": {
            "type": "string",
            "description": "SHA del commit desplegado."
          },
          "openrouter": {
            "type": "boolean",
            "description": "Hay clave de OpenRouter configurada."
          },
          "clave_servicio": {
            "type": "boolean",
            "description": "Hay clave de servicio configurada."
          },
          "upstreams": {
            "$ref": "#/components/schemas/Upstreams"
          }
        },
        "required": [
          "ok",
          "build"
        ]
      },
      "Estado": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "build": {
            "type": "string"
          },
          "modelo_defecto": {
            "type": "string",
            "description": "El que se usa si la consulta no trae `model` y es solo texto."
          },
          "modelo_multimodal": {
            "type": "string",
            "description": "El que se usa si la consulta no trae `model` y algún mensaje lleva imagen, audio, vídeo o fichero."
          },
          "clave": {
            "type": "object",
            "description": "Etiqueta, uso y límite de la clave, tal como los devuelve OpenRouter. Con clave de aplicación solo llega `label`: el uso y el límite son de la cuenta y los ve la administración.",
            "additionalProperties": true
          },
          "almacen": {
            "type": "string",
            "enum": [
              "sqlite",
              "memoria"
            ],
            "description": "Dónde se guarda el histórico. `sqlite` es el volumen en disco, que sobrevive a los reinicios; `memoria` significa que el volumen no se pudo abrir y el histórico se perderá al reiniciar."
          },
          "registros": {
            "type": "integer",
            "description": "Llamadas guardadas ahora mismo."
          },
          "identidad": {
            "type": "object",
            "description": "Con qué clave estás hablando.",
            "properties": {
              "nombre": {
                "type": "string"
              },
              "app_id": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "administracion": {
                "type": "boolean"
              }
            }
          },
          "upstreams": {
            "$ref": "#/components/schemas/Upstreams"
          }
        },
        "required": [
          "ok",
          "build",
          "modelo_defecto",
          "clave",
          "almacen",
          "registros"
        ]
      },
      "Modelo": {
        "type": "object",
        "description": "Los cuatro primeros campos son los de la API de OpenAI; el resto es lo que añade este servicio. Desde 0.6.2 añade `descripcion`, `precios`, `modalidades_salida`, `parametros`, `max_salida` y `moderado`; desde 0.6.4, `upstream`, `canonical_slug`, `hugging_face_id`, `primer_token_ms` y `tokens_por_segundo`. Lo anterior no cambia.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identificador que se manda en `model`. Los del router de Hugging Face llevan el prefijo `hf:` y, opcionalmente, el sufijo `:<host>`."
          },
          "object": {
            "type": "string",
            "const": "model"
          },
          "created": {
            "type": "integer",
            "description": "Marca de tiempo Unix."
          },
          "owned_by": {
            "type": "string",
            "description": "Proveedor, deducido del tramo anterior a la barra."
          },
          "nombre": {
            "type": "string",
            "description": "Nombre legible."
          },
          "contexto": {
            "type": "integer",
            "description": "Ventana de contexto en tokens."
          },
          "entrada": {
            "type": "number",
            "description": "Dólares por millón de tokens de entrada."
          },
          "salida": {
            "type": "number",
            "description": "Dólares por millón de tokens de salida."
          },
          "gratis": {
            "type": "boolean",
            "description": "Ningún precio publicado distinto de cero: ni tokens, ni imagen, ni petición. Los modelos de vídeo de OpenRouter no publican precio en el catálogo y salen gratis aunque no lo sean."
          },
          "herramientas": {
            "type": "boolean",
            "description": "Admite llamada a herramientas."
          },
          "json": {
            "type": "boolean",
            "description": "Admite salida estructurada o `response_format`."
          },
          "modalidades": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Modalidades de entrada, por ejemplo texto e imagen."
          },
          "descripcion": {
            "type": "string",
            "description": "Lo que escribe el proveedor sobre el modelo, tal cual lo da OpenRouter. Vacía si no la hay."
          },
          "precios": {
            "$ref": "#/components/schemas/Precios"
          },
          "modalidades_salida": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Modalidades de salida: `text`, `image`, `video`, `speech`, `transcription`, `embeddings`..."
          },
          "parametros": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Todos los parámetros que admite (`tools`, `structured_outputs`, `reasoning`...), tal cual los lista OpenRouter."
          },
          "max_salida": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Máximo de tokens de salida del proveedor principal, si lo informa."
          },
          "moderado": {
            "type": "boolean",
            "description": "Si el proveedor principal modera las peticiones."
          },
          "upstream": {
            "type": "string",
            "enum": [
              "openrouter",
              "hf",
              "rq"
            ],
            "description": "De qué upstream es el modelo. El `id` ya lleva el prefijo que hace falta para pedirlo."
          },
          "canonical_slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "Identificador estable de OpenRouter, con la fecha de versión cuando el id corto apunta a la más reciente. `null` en Hugging Face."
          },
          "hugging_face_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Repositorio de Hugging Face del modelo, si se conoce. Es la llave para encontrar el mismo modelo en el otro upstream: `hf:<hugging_face_id>`."
          },
          "primer_token_ms": {
            "type": [
              "number",
              "null"
            ],
            "description": "Milisegundos hasta el primer token en ese host, medidos por el router de Hugging Face. `null` en OpenRouter."
          },
          "tokens_por_segundo": {
            "type": [
              "number",
              "null"
            ],
            "description": "Tokens por segundo en ese host, idem."
          },
          "region": {
            "type": [
              "string",
              "null"
            ],
            "description": "Dónde procesa (`eu`, `us`, `global`...). Solo Requesty; `null` en los demás, que no significa «fuera de la UE»."
          },
          "retencion": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Si el proveedor guarda las peticiones. Solo Requesty."
          },
          "retencion_dias": {
            "type": [
              "integer",
              "null"
            ]
          },
          "entrena": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Si el proveedor entrena con las peticiones. Solo Requesty."
          },
          "cuantizacion": {
            "type": [
              "string",
              "null"
            ],
            "description": "Cuantización del modelo servido, si se publica."
          }
        },
        "required": [
          "id",
          "object",
          "owned_by",
          "nombre",
          "contexto",
          "entrada",
          "salida",
          "gratis"
        ]
      },
      "ListaDeModelos": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "list"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Modelo"
            }
          },
          "total": {
            "type": "integer",
            "description": "Modelos en el catálogo antes de filtrar."
          },
          "antiguedad_minutos": {
            "type": "integer",
            "description": "Minutos desde que se trajo el catálogo."
          },
          "upstream": {
            "type": "string",
            "enum": [
              "openrouter",
              "hf"
            ],
            "description": "De quién es el catálogo devuelto."
          }
        },
        "required": [
          "object",
          "data",
          "total"
        ]
      },
      "Consulta": {
        "type": "object",
        "description": "El cuerpo de la API de OpenAI. Se reenvía tal cual, así que cualquier campo que OpenRouter entienda vale, incluidos `tools`, `response_format`, `temperature` o `provider`.",
        "properties": {
          "model": {
            "type": "string",
            "description": "Opcional. Si falta, el modelo por defecto del servicio. Con el prefijo `hf:` va al router de Hugging Face; sin él, a OpenRouter."
          },
          "messages": {
            "type": "array",
            "description": "Los mensajes de la conversación.",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string",
                  "enum": [
                    "system",
                    "user",
                    "assistant",
                    "tool"
                  ]
                },
                "content": {
                  "type": "string"
                }
              },
              "required": [
                "role",
                "content"
              ]
            }
          },
          "stream": {
            "type": "boolean",
            "description": "Rechazado hasta la etapa 7: con `true` la respuesta es `400`."
          }
        },
        "required": [
          "messages"
        ],
        "additionalProperties": true
      },
      "Respuesta": {
        "type": "object",
        "description": "La respuesta de OpenRouter sin modificar.",
        "properties": {
          "id": {
            "type": "string"
          },
          "model": {
            "type": "string",
            "description": "El modelo que realmente sirvió la consulta."
          },
          "object": {
            "type": "string"
          },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "usage": {
            "type": "object",
            "description": "Tokens consumidos. Es la base de la medición de coste de la etapa 3.",
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "Error": {
        "type": "object",
        "description": "Todo error del servicio sale con este sobre, venga de aquí o de OpenRouter. Los tres campos van en inglés porque es lo que leen sin adaptaciones los clientes de la API de OpenAI.",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": false
          },
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Texto del fallo, para enseñar o registrar."
              },
              "code": {
                "type": "string",
                "description": "Código estable del servicio. Es lo que conviene comparar en código: el texto puede cambiar."
              },
              "type": {
                "type": "string",
                "description": "Familia del error, deducida del estado HTTP.",
                "enum": [
                  "invalid_request_error",
                  "authentication_error",
                  "permission_error",
                  "insufficient_quota",
                  "not_found_error",
                  "rate_limit_error",
                  "api_error"
                ]
              },
              "upstream": {
                "type": "object",
                "description": "Solo cuando el rechazo fue de OpenRouter: su cuerpo original, para depurar.",
                "additionalProperties": true
              }
            },
            "required": [
              "message",
              "code",
              "type"
            ]
          }
        },
        "required": [
          "ok",
          "error"
        ]
      },
      "Registro": {
        "type": "object",
        "description": "Lo que se sabe de una llamada. Se anota también cuando falla: un error que consumió dos segundos de espera es información de uso.",
        "properties": {
          "id": {
            "type": "string",
            "description": "El que devolvió `X-Uso-Id`."
          },
          "fecha": {
            "type": "string",
            "description": "ISO 8601 en UTC."
          },
          "modelo_pedido": {
            "type": "string"
          },
          "modelo_servido": {
            "type": [
              "string",
              "null"
            ],
            "description": "Puede no ser el pedido: OpenRouter enruta. En Hugging Face lleva el prefijo `hf:` para que no se confunda con el mismo modelo en OpenRouter."
          },
          "proveedor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Quién sirvió la llamada. En OpenRouter lo dice la respuesta; en Hugging Face es el host pedido con `:<host>`, o `null` si se dejó elegir al router."
          },
          "tokens_entrada": {
            "type": "integer"
          },
          "tokens_salida": {
            "type": "integer"
          },
          "tokens_razonamiento": {
            "type": "integer"
          },
          "tokens_cache": {
            "type": "integer"
          },
          "coste": {
            "type": [
              "number",
              "null"
            ],
            "description": "Dólares."
          },
          "coste_origen": {
            "type": "string",
            "enum": [
              "desconocido",
              "estimado",
              "openrouter"
            ],
            "description": "`estimado` con los precios del catálogo; `openrouter` cuando ya se reconcilió con lo que factura el proveedor, unos segundos después de la llamada. Las llamadas a Hugging Face se quedan en `estimado`."
          },
          "latencia_ms": {
            "type": "integer"
          },
          "motivo_fin": {
            "type": [
              "string",
              "null"
            ],
            "description": "`stop`, `length`… o el código de error si la llamada falló."
          },
          "estado": {
            "type": "integer",
            "description": "Código HTTP con el que se resolvió."
          },
          "id_openrouter": {
            "type": [
              "string",
              "null"
            ],
            "description": "Id de la generación en OpenRouter, con el que se reconcilia el coste. `null` en Hugging Face."
          },
          "app_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Qué aplicación llamó. `null` es la clave de administración."
          },
          "operacion": {
            "type": [
              "string",
              "null"
            ],
            "description": "Lo que viniera en la cabecera `X-Operacion`: el trabajo de negocio al que pertenece la llamada."
          },
          "huella": {
            "type": [
              "string",
              "null"
            ],
            "description": "Hash del cuerpo de la consulta, con el que se detectan los bucles."
          },
          "upstream": {
            "type": "string",
            "enum": [
              "openrouter",
              "hf"
            ],
            "description": "A quién se le compró. Los registros anteriores a 0.6.4 se leen como `openrouter`."
          }
        },
        "required": [
          "id",
          "fecha",
          "modelo_pedido",
          "tokens_entrada",
          "tokens_salida",
          "latencia_ms",
          "estado"
        ]
      },
      "App": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identificador estable, `app_...`. Es lo que aparece en el registro de uso."
          },
          "nombre": {
            "type": "string"
          },
          "activa": {
            "type": "boolean",
            "description": "Con `false`, su clave ya no sirve, pero su histórico se conserva."
          },
          "creada": {
            "type": "string"
          },
          "periodo": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "dia",
              "mes",
              null
            ],
            "description": "Periodo del presupuesto. Sin él, no hay presupuesto que aplicar."
          },
          "limite": {
            "type": [
              "number",
              "null"
            ],
            "description": "Dólares del periodo a partir de los cuales se corta."
          },
          "aviso": {
            "type": [
              "number",
              "null"
            ],
            "description": "Dólares a partir de los cuales se avisa por cabecera, sin cortar."
          },
          "cuota_minuto": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Llamadas por minuto."
          }
        },
        "required": [
          "id",
          "nombre",
          "activa",
          "creada"
        ]
      },
      "Margen": {
        "type": "object",
        "properties": {
          "app_id": {
            "type": "string"
          },
          "nombre": {
            "type": "string"
          },
          "periodo": {
            "type": [
              "string",
              "null"
            ]
          },
          "desde": {
            "type": [
              "string",
              "null"
            ],
            "description": "Desde cuándo cuenta el periodo en curso."
          },
          "limite": {
            "type": [
              "number",
              "null"
            ]
          },
          "aviso": {
            "type": [
              "number",
              "null"
            ]
          },
          "cuota_minuto": {
            "type": [
              "integer",
              "null"
            ]
          },
          "consumido": {
            "type": "number",
            "description": "Dólares gastados en el periodo."
          },
          "restante": {
            "type": [
              "number",
              "null"
            ],
            "description": "Lo que queda. `null` si no hay presupuesto."
          },
          "en_aviso": {
            "type": "boolean"
          }
        }
      },
      "Precios": {
        "type": "object",
        "description": "Precios más allá de los tokens de entrada y salida. Los de tokens en dólares por millón; `imagen` por imagen, `peticion` por llamada y `busqueda_web` por búsqueda. Cero cuando no se cobra o no se informa.",
        "properties": {
          "imagen": {
            "type": "number"
          },
          "peticion": {
            "type": "number"
          },
          "cache_lectura": {
            "type": "number"
          },
          "cache_escritura": {
            "type": "number"
          },
          "audio": {
            "type": "number"
          },
          "razonamiento": {
            "type": "number"
          },
          "busqueda_web": {
            "type": "number"
          },
          "imagen_salida": {
            "type": "number",
            "description": "Dólares por millón de tokens de imagen generada: lo que cobran los modelos que dibujan."
          }
        },
        "required": [
          "imagen",
          "peticion",
          "cache_lectura",
          "cache_escritura",
          "audio",
          "razonamiento",
          "busqueda_web",
          "imagen_salida"
        ]
      },
      "Upstreams": {
        "type": "object",
        "description": "Qué upstreams tienen clave configurada: `openrouter` (repite el campo anterior) y `hf` (el router de Hugging Face, secreto `HF_TOKEN`). Sin clave, los modelos `hf:` responden `503 upstream_sin_configurar` y todo lo demás funciona.",
        "properties": {
          "openrouter": {
            "type": "boolean"
          },
          "hf": {
            "type": "boolean"
          }
        },
        "required": [
          "openrouter",
          "hf"
        ]
      },
      "TrabajoVideo": {
        "type": "object",
        "description": "Un trabajo de vídeo.",
        "properties": {
          "id": {
            "type": "string",
            "example": "vid-1791400000000-3"
          },
          "object": {
            "type": "string",
            "enum": [
              "video"
            ]
          },
          "modelo": {
            "type": "string",
            "example": "google/veo-3.1-fast"
          },
          "upstream": {
            "type": "string",
            "enum": [
              "openrouter",
              "higgsfield"
            ]
          },
          "estado": {
            "type": "string",
            "enum": [
              "pendiente",
              "en_curso",
              "completado",
              "fallido",
              "cancelado",
              "caducado"
            ]
          },
          "estado_upstream": {
            "type": [
              "string",
              "null"
            ],
            "description": "El estado tal cual lo da el proveedor."
          },
          "coste_estimado": {
            "type": [
              "number",
              "null"
            ],
            "description": "Dólares, calculados antes de encolar con los precios del proveedor (OpenRouter) o con su estimador (Higgsfield). Es lo que cuenta en el presupuesto mientras el vídeo se hace."
          },
          "coste": {
            "type": [
              "number",
              "null"
            ],
            "description": "Dólares al terminar: el real de OpenRouter, el estimado de Higgsfield (es lo que cobra), o 0 si falló."
          },
          "urls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Dónde descargar el vídeo. En OpenRouter, la ruta del servicio `/v1/videos/{id}/contenido?index=N`, que pide la misma clave; en Higgsfield, su URL pública."
          },
          "caduca": {
            "type": [
              "string",
              "null"
            ],
            "description": "Hasta cuándo se puede descargar, si se sabe (Higgsfield: 7 días)."
          },
          "error": {
            "type": [
              "string",
              "null"
            ]
          },
          "creado": {
            "type": "string",
            "format": "date-time"
          },
          "uso_id": {
            "type": "string",
            "description": "El registro de uso de este vídeo (`/v1/uso/{id}`)."
          }
        }
      },
      "ModeloVideo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Sin prefijo, de OpenRouter; con `higgsfield:`, de Higgsfield."
          },
          "object": {
            "type": "string",
            "enum": [
              "model"
            ]
          },
          "upstream": {
            "type": "string",
            "enum": [
              "openrouter",
              "higgsfield"
            ]
          },
          "nombre": {
            "type": "string"
          },
          "descripcion": {
            "type": "string"
          },
          "tareas": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "texto_a_video",
                "imagen_a_video",
                "video_a_video",
                "alargar",
                "ampliar",
                "avatar"
              ]
            }
          },
          "duraciones": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "resoluciones": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "formatos": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Relaciones de aspecto (`16:9`...)."
          },
          "audio": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "precios": {
            "type": [
              "object",
              "null"
            ],
            "description": "Los SKU de precio tal cual los publica OpenRouter (por segundo, por resolución, con o sin audio, por token de vídeo). Higgsfield no los publica: su precio se estima trabajo a trabajo."
          },
          "precio_segundo_desde": {
            "type": [
              "number",
              "null"
            ],
            "description": "Lo más barato por segundo, en dólares."
          },
          "creado": {
            "type": "integer"
          }
        }
      }
    },
    "responses": {
      "NoAutorizado": {
        "description": "Falta la clave de servicio o no es válida.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "ok": false,
              "error": {
                "message": "Falta la cabecera Authorization: Bearer <clave de servicio>.",
                "code": "sin_clave",
                "type": "authentication_error"
              }
            }
          }
        }
      },
      "PeticionInvalida": {
        "description": "El cuerpo no es un objeto JSON, o pide streaming, que aún no existe.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "ok": false,
              "error": {
                "message": "El streaming llega en la etapa 7; manda la consulta sin \"stream\".",
                "code": "streaming_no_disponible",
                "type": "invalid_request_error"
              }
            }
          }
        }
      },
      "NoEncontrado": {
        "description": "La ruta no existe, o el modelo pedido no existe o no está autorizado para la cuenta.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "ok": false,
              "error": {
                "message": "No endpoints found for modelo/inexistente.",
                "code": "openrouter_rechaza",
                "type": "not_found_error",
                "upstream": {
                  "error": {
                    "message": "No endpoints found for modelo/inexistente.",
                    "code": 404
                  }
                }
              }
            }
          }
        }
      },
      "SinSaldo": {
        "description": "OpenRouter rechaza por crédito insuficiente.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "ok": false,
              "error": {
                "message": "Insufficient credits",
                "code": "openrouter_rechaza",
                "type": "insufficient_quota",
                "upstream": {
                  "error": {
                    "message": "Insufficient credits",
                    "code": 402
                  }
                }
              }
            }
          }
        }
      },
      "DemasiadasPeticiones": {
        "description": "Límite de ritmo del proveedor. Las cuotas propias por aplicación llegan en la etapa 6.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "FalloDeProveedor": {
        "description": "No se pudo alcanzar al upstream (OpenRouter o Hugging Face), tardó demasiado o devolvió algo ilegible.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "ok": false,
              "error": {
                "message": "no se pudo lanzar la consulta: operation timed out",
                "code": "openrouter_tardo_demasiado",
                "type": "api_error"
              }
            }
          }
        }
      },
      "SinConfigurar": {
        "description": "Al servicio le falta un secreto y no puede atender: `sin_configurar` si falta la clave de servicio o la de OpenRouter; `upstream_sin_configurar` si solo falta la de otro upstream (`HF_TOKEN`) y se pidió un modelo suyo.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "ok": false,
              "error": {
                "message": "El servicio no tiene clave de OpenRouter configurada; revisa los secretos de Fly.",
                "code": "sin_configurar",
                "type": "api_error"
              }
            }
          }
        }
      },
      "SinPermiso": {
        "description": "La clave es válida pero no llega: esta ruta exige la de administración.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "ok": false,
              "error": {
                "message": "Esta ruta exige la clave de administración del servicio.",
                "code": "solo_administracion",
                "type": "permission_error"
              }
            }
          }
        }
      }
    }
  },
  "x-codigos-de-error": [
    {
      "code": "sin_clave",
      "http": 401,
      "cuando": "La petición no lleva la cabecera Authorization."
    },
    {
      "code": "clave_invalida",
      "http": 401,
      "cuando": "La clave de servicio no coincide."
    },
    {
      "code": "sin_configurar",
      "http": 503,
      "cuando": "Falta un secreto en el backend: clave de OpenRouter o clave de servicio."
    },
    {
      "code": "upstream_sin_configurar",
      "http": 503,
      "cuando": "Se pidió un modelo `hf:`, `rq:` o `higgsfield:` (o su catálogo) y el despliegue no tiene `HF_TOKEN`, `REQUESTY_API_KEY` o `HIGGSFIELD_API_KEY`. El resto del servicio funciona."
    },
    {
      "code": "upstream_desconocido",
      "http": 400,
      "cuando": "`?upstream=` con un valor que no es `openrouter` ni `hf`."
    },
    {
      "code": "ruta_desconocida",
      "http": 404,
      "cuando": "La ruta no existe. Suele significar que el cliente es más nuevo que el backend desplegado."
    },
    {
      "code": "cuerpo_invalido",
      "http": 400,
      "cuando": "El cuerpo de la consulta no es un objeto JSON."
    },
    {
      "code": "streaming_no_disponible",
      "http": 400,
      "cuando": "La consulta pide stream. Llega en la etapa 7."
    },
    {
      "code": "openrouter_rechaza",
      "http": "el del proveedor",
      "cuando": "OpenRouter rechazó la llamada: modelo inexistente, saldo, permisos. Su cuerpo queda en error.upstream."
    },
    {
      "code": "hf_rechaza",
      "http": "el del proveedor",
      "cuando": "El router de Hugging Face rechazó la llamada: modelo o host inexistente, cuota, permisos. Su cuerpo queda en error.upstream."
    },
    {
      "code": "openrouter_inalcanzable",
      "http": 502,
      "cuando": "No hubo forma de conectar con OpenRouter."
    },
    {
      "code": "hf_inalcanzable",
      "http": 502,
      "cuando": "No hubo forma de conectar con el router de Hugging Face."
    },
    {
      "code": "openrouter_tardo_demasiado",
      "http": 502,
      "cuando": "Se agotó la espera: 120 segundos en consultas, 20 en el resto."
    },
    {
      "code": "hf_tardo_demasiado",
      "http": 502,
      "cuando": "Se agotó la espera hablando con el router de Hugging Face: 120 segundos en consultas, 20 en el catálogo."
    },
    {
      "code": "respuesta_ilegible",
      "http": 502,
      "cuando": "El upstream devolvió algo que no es JSON."
    },
    {
      "code": "uso_desconocido",
      "http": 404,
      "cuando": "Se pidió un registro de uso que no existe."
    },
    {
      "code": "formato_invalido",
      "http": 400,
      "cuando": "La exportación se pidió en un formato que no es csv ni json."
    },
    {
      "code": "solo_administracion",
      "http": 403,
      "cuando": "Se llamó a una ruta de administración con una clave de aplicación."
    },
    {
      "code": "app_desconocida",
      "http": 404,
      "cuando": "Se intentó dar de baja una aplicación que no existe."
    },
    {
      "code": "alta_fallida",
      "http": 500,
      "cuando": "No se pudo escribir la aplicación nueva en el histórico."
    },
    {
      "code": "presupuesto_agotado",
      "http": 402,
      "cuando": "La aplicación ha gastado su presupuesto del periodo."
    },
    {
      "code": "cuota_superada",
      "http": 429,
      "cuando": "La aplicación ha pasado su cuota de llamadas por minuto."
    },
    {
      "code": "bucle",
      "http": 429,
      "cuando": "La misma consulta se ha repetido cinco veces en un minuto. Corta el gasto accidental."
    },
    {
      "code": "periodo_invalido",
      "http": 400,
      "cuando": "Se fijó un presupuesto con un periodo que no es dia ni mes, o sin periodo."
    },
    {
      "code": "rq_rechaza",
      "http": "el de Requesty",
      "cuando": "Requesty rechazó la consulta; su cuerpo va en `error.upstream`."
    },
    {
      "code": "rq_inalcanzable",
      "http": 502,
      "cuando": "No se pudo conectar con Requesty."
    },
    {
      "code": "rq_tardo_demasiado",
      "http": 502,
      "cuando": "Requesty no respondió a tiempo."
    },
    {
      "code": "presupuesto_insuficiente",
      "http": 402,
      "cuando": "El vídeo pedido costaría más de lo que le queda a la aplicación en el periodo. No se encola nada."
    },
    {
      "code": "video_desconocido",
      "http": 404,
      "cuando": "No hay ningún vídeo con ese id para esta clave."
    },
    {
      "code": "video_no_listo",
      "http": 409,
      "cuando": "Se pidió el contenido de un vídeo que aún no está completado."
    },
    {
      "code": "higgsfield_rechaza",
      "http": "el de Higgsfield",
      "cuando": "Higgsfield rechazó el trabajo o su estimación (parámetros que el modelo no admite, saldo...); su cuerpo va en `error.upstream`."
    },
    {
      "code": "higgsfield_inalcanzable",
      "http": 502,
      "cuando": "No se pudo conectar con Higgsfield."
    },
    {
      "code": "higgsfield_tardo_demasiado",
      "http": 502,
      "cuando": "Higgsfield no respondió a tiempo."
    }
  ],
  "x-etapas": [
    {
      "numero": 1,
      "titulo": "Conexión a OpenRouter y una consulta",
      "estado": "entregada",
      "rutas": [
        {
          "metodo": "GET",
          "ruta": "/v1/estado"
        },
        {
          "metodo": "POST",
          "ruta": "/v1/chat/completions"
        }
      ],
      "nota": "Clave de servicio obligatoria en todo /v1 desde el primer día."
    },
    {
      "numero": 2,
      "titulo": "Catálogo de modelos",
      "estado": "entregada",
      "rutas": [
        {
          "metodo": "GET",
          "ruta": "/v1/models"
        }
      ],
      "nota": "Caché de una hora, filtros y copia caducada si el proveedor falla."
    },
    {
      "numero": 3,
      "titulo": "Medición por llamada",
      "estado": "entregada",
      "rutas": [
        {
          "metodo": "GET",
          "ruta": "/v1/uso"
        },
        {
          "metodo": "GET",
          "ruta": "/v1/uso/{id}"
        }
      ],
      "nota": "Cada consulta devuelve la cabecera X-Uso-Id con la que consultar después tokens, coste, latencia y proveedor que la sirvió. El coste se estima con el catálogo y se reconcilia con lo que factura OpenRouter. Anillo de las últimas mil llamadas, en memoria."
    },
    {
      "numero": 4,
      "titulo": "Persistencia y agregados",
      "estado": "entregada",
      "rutas": [
        {
          "metodo": "GET",
          "ruta": "/v1/uso/resumen"
        },
        {
          "metodo": "GET",
          "ruta": "/v1/uso/exportar"
        }
      ],
      "nota": "El histórico deja de perderse al reiniciar: vive en un volumen de Fly con SQLite. Totales por día y por modelo, y exportación en CSV o JSON. /v1/estado dice dónde está guardado y cuántas llamadas hay."
    },
    {
      "numero": 5,
      "titulo": "Aplicaciones consumidoras",
      "estado": "entregada",
      "rutas": [
        {
          "metodo": "POST",
          "ruta": "/v1/apps"
        },
        {
          "metodo": "GET",
          "ruta": "/v1/apps"
        },
        {
          "metodo": "DELETE",
          "ruta": "/v1/apps/{id}"
        }
      ],
      "nota": "Una clave por aplicación, revocable sin tocar el despliegue. Cada llamada queda anotada con su aplicación, y la cabecera X-Operacion agrupa varias llamadas de un mismo trabajo. Cada aplicación ve solo su gasto; la clave de administración lo ve todo y puede agrupar por aplicación."
    },
    {
      "numero": 6,
      "titulo": "Presupuestos, cuotas y cortacircuitos",
      "estado": "entregada",
      "rutas": [
        {
          "metodo": "GET",
          "ruta": "/v1/presupuesto"
        },
        {
          "metodo": "PUT",
          "ruta": "/v1/apps/{id}/presupuesto"
        }
      ],
[...]
